<a href="https://colab.research.google.com/github/Rose-X/MacDO_X/blob/main/PandaP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a Pandas Series from a dictionary where keys are ['a', 'b', 'c'] and values are [100, 200, 300].

In [ ]:
import numpy as np
import pandas as pd

series = {"a" : 100 , "b" : 200 , "c" : 300 }
s_series = pd.Series(data=series)
print(s_series)

a    100
b    200
c    300
dtype: int64

Exercice 2 : Creating DataFrames

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

df = pd.DataFrame(data, columns=["A", "B" , "C"] )

#print(df)

# On ajoute le D

df["D"]=[10,11,12]


print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")
#print(df)

#Drop B
#df.drop("B", axis=1, inplace=True)
#print(df)
#ou drop vraiment
df = df.drop("B", axis=1)
print(df)

\\\\\\\\\\\\\\\\\\\\\
   A  C   D
0  1  3  10
1  4  6  11
2  7  9  12

EXO 3

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

df = pd.DataFrame(data, columns=["A", "B" , "C"] )

df = df[["A", "C"]] #on select que le A et B
#print(df)

df = df.loc[1]  #puis avec loc on selection que l index 1 avec .loc
print(df)

EXO4

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

df = pd.DataFrame(data, columns=["A", "B" , "C"] )

df["sums"] = df.sum(axis=1)
#print(df)

#Drop la col sum dataframe

df = df.drop("sums" ,  axis=1)
#print(df)

#mettre le numpy

df["Random"] = np.random.randn(len(df))  #numpy pour avoir des nb alt
print(df)

   A  B  C    Random
0  1  2  3  0.251562
1  4  5  6 -0.292010
2  7  8  9 -0.744895

EXO5

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

data = {

         'Key' : [1,2,3],
         'A' : ["A1","A2","A3"],
         'B ' :  ["B1","B2","B3"]



        }


data2 = {

         'Key' : [1,2,3],
         'C' : ["C1","C2","C3"],
         'D ' :  ["D1","D2","D3"]



        }

df2 = pd.DataFrame(data2) #création du dataframe data2

df = pd.DataFrame(data) #Création du dataframe data



print(f'Left : \n {df}')
print('\t')
print(f'Right : \n {df2}')


#faire la fusion
joint = pd.merge(df, df2) # permet de faire fusion avec merge
print('\t')

print(f' fusion : \n {joint}')

#Rajoute E

df2["E"] = ["E1", "E2" , "E3"]  # On rajoute le E1 dans data1

joint = pd.merge(df, df2)  #on rafait une jointure

print('\n')
print(joint)

EXO6

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

data = {


         'A' : [1.0,np.nan , 7.0,] #np.nan valeur manquante




        }


data2 = {


         'B' : [np.nan,5.0,8.0]




        }

data3 = {

    'C' : [3.0, 6.0, np.nan]



    }


df = pd.DataFrame(data)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

joint = pd.concat([df,df2,df3], axis=1 )
print(joint)




df_m = df.fillna(df.mean()) #on fait la moy et on place dans nan
df2_m = df2.fillna(df2.mean())
df3_m = df3.fillna(df3.mean())

joint2 = pd.concat([df_m, df2_m, df3_m], axis=1 ) # on re fait la  jointure
print(joint2)

     A    B    C
0  1.0  NaN  3.0
1  NaN  5.0  6.0
2  7.0  8.0  NaN
     A    B    C
0  1.0  6.5  3.0
1  4.0  5.0  6.0
2  7.0  8.0  4.5

EXO 6 DROP NAN

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

data = {


         'A' : [1.0,np.nan , 7.0,] #np.nan valeur manquante




        }


data2 = {


         'B' : [np.nan,5.0,8.0]




        }

data3 = {

    'C' : [3.0, 6.0, np.nan]



    }


df = pd.DataFrame(data)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

joint = pd.concat([df,df2,df3], axis=1 )


joint = joint.dropna(axis=0, how="any") # on supprime nous les lignes dans joint ou y  a rien


print(joint)

Empty DataFrame
Columns: [A, B, C]
Index: []

EXO7

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn





# Creating the DataFrame
data = {
    "Category": ["A", "B", "A", "B", "A", "B"],
    "Value": [1, 2, 3, 4, 5, 6]
}

df = pd.DataFrame(data)

print(df)
mean_values = df.groupby("Category")["Value"].mean()

print(" PR:\n", mean_values)

#cal la moy
sum1 = df.groupby("Category")["Value"].sum()
print(sum1)

#avec les catg

count = df.groupby("Category")["Value"].count()
print(count)

  Category  Value
0        A      1
1        B      2
2        A      3
3        B      4
4        A      5
5        B      6
 PR:
 Category
A    3.0
B    4.0
Name: Value, dtype: float64
Category
A     9
B    12
Name: Value, dtype: int64
Category
A    3
B    3
Name: Value, dtype: int64

EXO 8

In [ ]:

import pandas as pd

tb = {
    'Category': ['A', 'A', 'A', 'B', 'B', 'B'],
    'Type':     ['X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Value':    [1,   2,   3,   4,   5,   6]
}
tbb = pd.DataFrame(tb)
print(tbb)

pivot = tbb.pivot_table( #pivot

    values='Value',     #la colone numérique
    index='Category',  #pour les linges
    columns='Type',     #colonnes
    aggfunc='mean'     #permet de cal la moye
)
print(pivot)



pivot_sum = tbb.pivot_table( # rajouter le sum

    values='Value',
    index='Category',
    columns='Type',
    aggfunc='sum'      #sum
)


print(pivot_sum)

pivot_3 = tbb.pivot_table(
    values='Value',
    index='Category',
    columns='Type',
    aggfunc='mean',
    margins=True,
    margins_name='Total'
)

print(pivot_3)

  Category Type  Value
0        A    X      1
1        A    Y      2
2        A    X      3
3        B    Y      4
4        B    X      5
5        B    Y      6
Type        X    Y
Category
A         2.0  2.0
B         5.0  5.0
Type      X   Y
Category
A         4   2
B         5  10
Type        X    Y  Total
Category
A         2.0  2.0    2.0
B         5.0  5.0    5.0
Total     3.0  4.0    3.5

EXO9

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=6, freq='D'),
    'Value': np.random.randn(6) #faire des nb alt
})

print(df)
print()

df.set_index('Date', inplace=True) #RAJOUTER DATE COL

print(df)
print()

resampled_df = df.resample('2D').sum() #CAL LA MOY

print(resampled_df)

        Date     Value
0 2023-01-01 -0.445632
1 2023-01-02 -0.072262
2 2023-01-03 -0.443815
3 2023-01-04 -0.422562
4 2023-01-05 -0.217544
5 2023-01-06  0.512379

               Value
Date
2023-01-01 -0.445632
2023-01-02 -0.072262
2023-01-03 -0.443815
2023-01-04 -0.422562
2023-01-05 -0.217544
2023-01-06  0.512379

               Value
Date
2023-01-01 -0.517895
2023-01-03 -0.866377
2023-01-05  0.294835

exo 10

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1.0, 2.0, np.nan],
    'B': [np.nan, 5.0, 8.0],
    'C': [3.0, np.nan, 9.0]
})
print(df, "\n")

df_interpolated = df.interpolate() #rajoute les valeurs manq
print(df_interpolated)

df_dropped = df.dropna(how='any') #sup les lignes ou y  a des valeurs ou  y a r
print(df_dropped)

     A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  NaN
2  NaN  8.0  9.0

     A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  6.0
2  2.0  8.0  9.0
Empty DataFrame
Columns: [A, B, C]
Index: []

11

In [3]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]
})

print(df, "\n")

df_csum = df.cumsum()
print(df_csum, "\n")

df_cprod = df.cumprod()
print(df_cprod, "\n")

df = df.applymap(lambda x: x - 1) #on utilise lambda x -1

print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

    A   B   C
0   1   2   3
1   5   7   9
2  12  15  18

    A   B    C
0   1   2    3
1   4  10   18
2  28  80  162

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

<ipython-input-3-64752fbd6ec9>:17: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x - 1) #on utilise lambda x -1